# Supabase Configuration
# Get these values from your Supabase project dashboard



NEXT_PUBLIC_SUPABASE_URL=https://ziuwmklwxgdphxpjczuc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InppdXdta2x3eGdkcGh4cGpjenVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwOTMzNTIsImV4cCI6MjA3MjY2OTM1Mn0.UATp4rA7TCmH8_cBRo_yE8-SqB_Pqu1yVF0-w3TWBI8


# Database Configuration
EXPO_PUBLIC_DATABASE_NAME=walletwatch_db

# API Configuration
EXPO_PUBLIC_API_URL=http://localhost:8081